h1 {
    text-align: center;
    color: #000000;
    margin-top: 10px;

}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    color: #000000;
    text-align: center;
    margin-top: -72px;
}

ul {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    padding: 0;
    justify-content: center;
}

h3 {
    color: bisque;
    text-align: center;
    margin-top: 30px;
}

.img {
    height: 585px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

header1 {
    color: #fff;
    padding: .2px;
    text-align: center;
}

/* aqui comiensa los es tilos de letra */
.p2 {
    font-family: Arial, sans-serif;
    font-size: 100px;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.p3 {
    font-family: Arial, sans-serif;
    font-size: 300px;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.contenido {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contenido img {
    width: 513px;
}

.texto {
    flex: 1;
}

/* aqui termena */